<form
  [formGroup]="form"
  (ngSubmit)="submit()"
  class="container border p-3 rounded mx-auto"
>
  <div class="pb-3 d-flex gap-3 align-items-center">
    @if (!isSubmitting()) {
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
        Submit all forms
      </button>
    } @else {
      <button class="btn btn-danger pl-2" type="button" (click)="cancelSubmit()">
        Cancel
      </button>
      @if (countdown()) {
        <span class="text-secondary">{{ countdown() | timeFormat }}</span>
      }
    } 
    
    @if (invalidCardsCount()) {
      <span class="text-danger">Invalid froms: {{ invalidCardsCount() }}</span>
    }
  </div>

  <div
    class="row row-cols-3 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-gap-4 column-gap-0"
  >
    @for (card of cards.controls; track index; let index = $index) {
      <app-form-card
        [cardFormGroup]="card"
        (removeCard)="removeCard(index)"
      ></app-form-card>
    } @if (!hasCardLimitReached() && !isSubmitting()) {
      <app-form-create-btn (onClick)="addCard()"></app-form-create-btn>
    }
  </div>
</form>
